<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三日计划-排产</title>
    <link href="./css/dhtmlxscheduler_material.css" rel="stylesheet">
    <link href="./css/element.css" rel="stylesheet">
</head>
<style>
    html, body{
        margin:0;
        padding:0;
        height:100%;
        overflow:hidden;
    }
    #vueArea {
        width:100%;
        height:100%;
        padding: 20px 20px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .top-header {
        height: 120px;
    }
    #scheduler_here {
        flex:1;
    }
    .custom-tag {
        display: inline-block;
        width: 40px;
        height: 10px;
        border-radius: 5px;
    }
    .tag-group-wrap {
        display: flex;
        margin-bottom: 10px;
        font-size: 14px;
        color: #606266;
    }
    .custom-tag-label {
        margin: 0 10px 0 40px;
    }
    .tag-group:first-child .custom-tag-label{
        margin: 0;
    }
    .tag-group__title {
        width: 60px;
        text-align: right;
    }
</style>

<body style='width:100%; height:100%;'>
    <div id="vueArea" >
        <div class="top-header">
            <div>
                <el-form :inline="true" :model="formInline" class="demo-form-inline" ref="ruleForm" >
                    <el-form-item label="类型">
                        <el-select v-model="formInline.type" placeholder="请选择" size="small">
                            <el-option
                                    v-for="item in searchFormData.type.options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="部门">
                        <el-select v-model="formInline.department" placeholder="请选择"size="small">
                            <el-option
                                    v-for="item in searchFormData.department.options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="厂房">
                        <el-select v-model="formInline.workShop" placeholder="请选择"size="small">
                            <el-option
                                    v-for="item in searchFormData.workShop.options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit" size="small">查询</el-button>
                        <el-button @click="resetForm('ruleForm')" size="small">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="tag-group-wrap">
                <span class="tag-group__title">{{tagData.mainProcess.title}}</span>
                <div
                        v-for="item in tagData.mainProcess.data"
                        :key="item.label"
                        class="tag-group">
                    <div>
                        <span class="custom-tag-label">{{item.label}}</span>
                        <span class="custom-tag" :style='item.style'></span>
                    </div>

                </div>
            </div>
            <div class="tag-group-wrap">
                <span class="tag-group__title">{{tagData.detailProcess.title}}</span>
                <div
                        v-for="item in tagData.detailProcess.data"
                        :key="item.label"
                        class="tag-group">
                    <div>
                        <span class="custom-tag-label">{{item.label}}</span>
                        <span class="custom-tag" :style='item.style'></span>
                    </div>

                </div>
            </div>
        </div>

        <div>
            <el-row>
                <el-col :span="3">
                    <el-input placeholder="请输入内容" v-model="schedulerData.searchInput" size="small">
                        <el-button slot="append" icon="el-icon-search" @click="handleSchedulerSearch"></el-button>
                    </el-input>
                </el-col>
                <el-col :span="7" style="margin-left: 30px">
                    <el-date-picker
                            v-model="schedulerData.datePickerVal"
                            type="date"
                            placeholder="选择日期"
                            @change="handleDatePicker"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd"
                            size="small"
                    >
                    </el-date-picker>
                </el-col>

            </el-row>
        </div>

        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_date"></div>
            </div>
            <div class="dhx_cal_header">
            </div>
            <div class="dhx_cal_data">
            </div>
        </div>


    </div>

</body>
<script src="./scripts/vue.js"></script>
<script src="./scripts/element.js"></script>
<script src="./scripts/jquery.min.js"></script>
<script src="./scripts/dhtmlxscheduler.js"></script>
<script src="./scripts/scheduling.js"></script>
</html>