.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  padding-bottom: 100px;
}

.content{
  flex:1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.footer {
  height: 200px;
  background: red;
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img{
  width: 100%;
  height: auto;
}
.title {
  width: 100%;
  font-size: 32px;
  display: block;
}
.loading {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 32px;
 
}
