.wrap {
    display: flex;

}

.left{
    width: 33.33%;
    height:50px;
    background: blue;
}
.center{
    width: 33.33%;
    height:50px;
    background: blue;
}


.right {
    width: 33.33%;
    height:50px;
    background: pink;
}